.btn-book {
  color: #fff;
  font-family: 'Red Hat Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  background: #152540;
  border-radius: 99px;
  padding: 5px 0px;
  width: 288px;
  text-align: center;
}

.Add-form-box {
  width: 328px;
  margin: 0px auto;
}

.Add-form {
  width: 1010px;
  height: 100vh;
  padding-top: 31px;
  padding-right: 140px;
  padding-bottom: 67px;
  padding-left: 108px;
  background-color: #fff;
}

.input-files {
 width: 0px;
 height: 0;
}

.add-book-iteam {
  width: 351px;
  height: 267;
  margin-bottom: 23px;
}

.add-author-img {
  background-color:  #f3f3f3ed;
  width: 700px;
}

.Add-form-box .tittle {
  margin-bottom: 22px;
  font-family: 'Arial Black';
  font-weight: 900;
  font-size: 36px;
  line-height: 51px;
  color: #000000;
}

.Add-form .input {
  width: 330px;
  height: 46px;
  margin-bottom: 17px;
}

.sigin {
  align-items: center;
}

.textarea {
  width: 330px;
  height: 82px;
  resize: none;
  margin-bottom: 17px;
  background: #FFFFFF;  
  border: 1px solid #B4B4BB;
  border-radius: 10px;
}

.add-author-img .add-author-img {
  padding: 0;
}

.add-author-iteam {
  width: 300px;
  height: 483px;
  margin-bottom: 14px;
}


.book-tittle {
  margin-bottom: 17px;
  font-family: 'Arial Black';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}